@page
@model CreateModel


<div>
    <div class="form-group row">
        <form method="post">
            <h4>Inclusão de Livro</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Livro.Nome" class="control-label"></label>
                <input asp-for="Livro.Nome" class="form-control" />
                <span asp-validation-for="Livro.Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Livro.Sinopse" class="control-label"></label>
                <input asp-for="Livro.Sinopse" class="form-control" />
                <span asp-validation-for="Livro.Sinopse" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Livro.ImagemUri" class="control-label"></label>
                <input asp-for="Livro.ImagemUri" class="form-control" />
                <span asp-validation-for="Livro.ImagemUri" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Livro.Preco" class="control-label"></label>
                <input asp-for="Livro.Preco" class="form-control" />
                <span asp-validation-for="Livro.Preco" class="text-danger"></span>
            </div>

            <div class="form-group mt-3 mb-3">
                <input class="form-check-input" asp-for="Livro.Disponivel" />
                <label asp-for="Livro.Disponivel"></label>
            </div>

            <div class="form-group">
                <label asp-for="Livro.DataDeEntrega" class="control-label"></label>
                <input asp-for="Livro.DataDeEntrega" class="form-control" />
                <span asp-validation-for="Livro.DataDeEntrega" class="text-danger"></span>
            </div>

            <div class="form-group mt-3 mb-3">
                <label asp-for="Livro.EditoraId" class="control-label"></label>
                <select class="form-select" asp-for="Livro.EditoraId"
                        asp-items="Model.EditoraOptionItems">
                    <option value="">Selecione uma opção</option>
                </select>
                <span asp-validation-for="Livro.EditoraId" class="text-danger">
                </span>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
    }