@page
@model IndexModel
@{
    ViewData["Title"] = "Quem Somos";
}


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1>Sobre Nós - Book et Café</h1>
            <p class="lead">Bem-vindo à Book et Café, o lugar onde os mundos dos livros e do café se encontram para criar uma experiência verdadeiramente aconchegante e enriquecedora.</p>
            <p>Em um mundo acelerado, encontramos conforto e inspiração nas páginas de livros, enquanto o aroma de um café recém-preparado nos envolve com calma e alegria. Na Book et Café, acreditamos que a combinação desses dois elementos pode transformar um simples momento em uma jornada de descoberta.</p>
            <p>Nossa livraria cuidadosamente selecionada oferece uma vasta coleção de títulos, de clássicos atemporais a best-sellers contemporâneos. Explore as prateleiras e encontre histórias que irão cativar sua imaginação, despertar suas paixões e desafiar sua mente.</p>
            <p>Além disso, nossa cafeteria oferece uma variedade de cafés artesanais e deliciosas iguarias, todas preparadas com amor e atenção aos detalhes. Saboreie seu café favorito enquanto mergulha em seu livro ou compartilhe uma conversa inspiradora com amigos e entes queridos.</p>
            <p>Na Book et Café, acreditamos na magia que acontece quando você encontra o livro perfeito para acompanhar sua xícara de café favorita. É um lugar onde a leitura e o café se tornam um ritual diário, um refúgio para a mente e o coração, um espaço onde você pode se perder em palavras e sabores.</p>
            <p>Estamos comprometidos em criar um ambiente acolhedor, onde você pode relaxar, explorar, aprender e se conectar. Venha nos visitar e faça parte da nossa comunidade de amantes de livros e café. Esperamos compartilhar muitas histórias e xícaras de café com você.</p>
            <p>Na Book et Café, a vida é uma aventura literária esperando para ser escrita. Junte-se a nós nesta jornada.</p>
        </div>
        <div class="col-md-6 text-center">
            <img class="imagem-quem-somos mt-5" src="https://i.pinimg.com/736x/bc/10/7e/bc107e33de2c7704e4daac992ee5ca5f.jpg" alt="Book et Café">
        </div>
    </div>
</div>