@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de privacidade";
}


<h1 class="mt-5">@ViewData["Title"]</h1>

<p>
    Esta Política de Privacidade descreve como o Book et Café coleta, usa, compartilha e protege suas informações pessoais quando você visita nosso site ou interage conosco. Levamos sua privacidade a sério e estamos comprometidos em proteger suas informações. Por favor, leia atentamente esta política para entender nossas práticas.
</p>

<h2>Informações que Coletamos:</h2>

<p>
    <strong>Informações de Contato:</strong> Coletamos informações como nome, endereço de e-mail, número de telefone e endereço para fornecer informações sobre eventos, promoções e responder a perguntas que você possa ter.
</p>

<p>
    <strong>Informações de Pagamento:</strong> Quando você faz uma compra em nossa loja, coletamos informações de pagamento, incluindo informações do cartão de crédito. No entanto, não armazenamos essas informações em nossos servidores. Elas são processadas com segurança por provedores de pagamento terceirizados.
</p>

<p>
    <strong>Informações de Conta:</strong> Se você cria uma conta conosco, coletamos informações de login, como nome de usuário e senha.
</p>

<p>
    <strong>Informações de Navegação:</strong> Quando você visita nosso site, coletamos informações sobre seu dispositivo e comportamento de navegação, incluindo endereço IP, navegador, sistema operacional e páginas visitadas. Isso nos ajuda a melhorar nosso site e fornecer uma experiência mais personalizada.
</p>

<h2>Como Usamos Suas Informações:</h2>

<p>
    Utilizamos suas informações para os seguintes fins:
</p>

<ul>
    <li>Fornecer os serviços que você solicitou, como processar pedidos, reservas ou responder a perguntas.</li>
    <li>Enviar comunicações, como atualizações, notícias e ofertas, se você optou por recebê-las.</li>
    <li>Personalizar sua experiência em nosso site.</li>
    <li>Melhorar nossos produtos e serviços.</li>
</ul>

<h2>Compartilhamento de Informações:</h2>

<p>
    Não compartilhamos suas informações pessoais com terceiros, exceto nas seguintes situações:
</p>

<ul>
    <li><strong>Fornecedores de Serviços:</strong> Podemos compartilhar informações com provedores de serviços que nos ajudam a operar nosso site e fornecer serviços a você. Eles estão sujeitos a obrigações de confidencialidade.</li>
    <li><strong>Requisitos Legais:</strong> Podemos divulgar informações se exigido por lei ou para proteger nossos direitos legais.</li>
</ul>

<h2>Proteção de Dados:</h2>

<p>
    Tomamos medidas para proteger suas informações pessoais e garantir que elas sejam tratadas com segurança. Utilizamos tecnologias de criptografia e medidas de segurança para proteger seus dados.
</p>

<h2>Seus Direitos:</h2>

<p>
    Você tem o direito de acessar, corrigir ou excluir suas informações pessoais a qualquer momento. Entre em contato conosco se desejar exercer esses direitos.
</p>

<h2>Mudanças na Política:</h2>

<p>
    Reservamo-nos o direito de fazer alterações nesta política de privacidade a qualquer momento. A data da "Última Atualização" no topo da página indicará a data mais recente de revisão.
</p>

<h2>Contato:</h2>

<p>
    Se você tiver dúvidas sobre esta política de privacidade ou sobre suas informações pessoais, entre em contato conosco em [inserir endereço de e-mail de contato].
</p>
